*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cell-border: 2px solid rgb(201, 201, 201)
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #000;
}

.board {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  border-collapse: collapse;
}

.board .row {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

/* Middle cell */
.row[data-row="1"] .col[data-col="1"] {
  border: var(--cell-border);
}

/* Middle left and right cells */
.row[data-row="1"] .col[data-col="0"],
.row[data-row="1"] .col[data-col="2"] {
  border-top: var(--cell-border);
  border-bottom: var(--cell-border);
}

/* Middle top and bottom cells */
.row[data-row="0"] .col[data-col="1"],
.row[data-row="2"] .col[data-col="1"] {
  border-left: var(--cell-border);
  border-right: var(--cell-border);
}

.restart {
  color: #fff;
  width: 4rem;
  height: 1.5rem;
  border: none;
  border-radius: .2rem;
  background-color: rgb(24, 70, 144);
  appearance: none;
}

.restart:active {
  background-color: rgb(11, 48, 93);
}