@font-face { font-family: "Poppins-Regular"; src: url("fonts/Poppins-Regular.ttf"); }
@font-face { font-family: "Poppins-Medium"; src: url("fonts/Poppins-Medium.ttf"); }
@font-face { font-family: "Poppins-Bold"; src: url("fonts/Poppins-Bold.ttf"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cell-border: 2px solid rgb(201, 201, 201)
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  justify-items: center;
  align-items: center;
  font-family: "Poppins-Regular";
  background-color: #000;
}

h2 {
  color: #fff;
  font-family: "Poppins-Medium";
  text-transform: uppercase;
}

.board {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  border-collapse: collapse;
}

.board .row {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

/* Middle cell */
.row[data-row="1"] .col[data-col="1"] {
  border: var(--cell-border);
}

/* Middle left and right cells */
.row[data-row="1"] .col[data-col="0"],
.row[data-row="1"] .col[data-col="2"] {
  border-top: var(--cell-border);
  border-bottom: var(--cell-border);
}

/* Middle top and bottom cells */
.row[data-row="0"] .col[data-col="1"],
.row[data-row="2"] .col[data-col="1"] {
  border-left: var(--cell-border);
  border-right: var(--cell-border);
}

.restart {
  color: #fff;
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: .2rem;
  font-family: inherit;
  background-color: #222;
  appearance: none;
  transition: all 0.3s ease;
}

.restart:active {
  color: #222;
  background-color: #fff;
}

.x {
  background-image: url("images/x-marker.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
}

.o {
  background-image: url("images/o-marker.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}